@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'clashdisplay';
  src: url('/assets/fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('/assets/fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'clashdisplayregular';
  src: url('/assets/fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('/assets/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

main {
  min-width: 320px;
  min-height: 95vh;
  background-image: url('/assets/brown-wooden-textured-flooring-background (3).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  /* width: 50%; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  /* width: 50%; */
}

.logo {
  width: 135px;
  height: 102px;
  flex-shrink: 0;
}
h1 {
 
  line-height: 1.1;
}

p {
 
  line-height: 1.1;
}
.ultags{
  animation: ribbonAnimation 1s ;
}

.menufont{
    font-family: 'clashdisplayregular';
}
.reverseUltags{
animation: reverseanimation 1s;
}
.listtags:hover{
  border: 1px solid white;
  border-radius: 5px;
}

 p{
  color: #FFF;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.menuList{
  color: #fff;
  display: flex;
  z-index: 999;
  font-size: bold;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
   font-family: 'clashdisplayregular';
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuListActive{
  color: black;
  display: flex;
  font-weight: bold;
  border-radius: 8px;
  background-color:#FE9346;  
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'clashdisplayregular';
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropContainer{
  border: 1px solid #dee2e6;
  padding: 1.5rem 1rem;
  border-radius: 0.375rem;
  transition: transform 2s ease;
}
.colorChange{
  border: 1px solid #FE9346; 
  background: #000;
  backdrop-filter: blur(20px);
   padding: 1.5rem 1rem;
  border-radius: 0.375rem;
  transition: transform 2s ease;
  color:  #FE9346;
}

.italics{
  font-style: italic;
}
.dropdown-header {
 background-color: rgba(0, 0, 0, 0.7);
  font-family: 'clashdisplay';
}
.inquiryQuestion{
  font-family: 'clashdisplay';
}

.footerElement{
  font-family: 'clashdisplayregular'; 
  font-size: 15px;
  position: initial;
  bottom: 0;
}

.ulcontainer{
  border: 1px solid #dee2e6;
  padding: 1.5rem 1rem;
  transition: transform 2s ease;
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 2px solid rgba(255, 255, 255, 0.30);
  opacity: 0.9;
  background: #000;
  backdrop-filter: blur(20px);
}
.optionsBackgroundStyles{
border-radius: 8px;
background-color: #0a0a0a;
height: 56px;
}

.open{
  visibility: visible; 
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.9s;
}

.notopened{
  visibility: hidden; 
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.rotated {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  transition: transform 0.5s ease; 
  color: #FAC39C; 
}

.notRotated {
  width: 20px;
  height: 20px;
  transform: rotate(360deg);
  transition: transform 0.5s ease; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@keyframes ribbonAnimation {
  0% {
    transform: translateY(-2em)
   
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes reverseanimation {
  0% {
    transform: translateY(0em)
   
  }
  100% {
    transform: translateY(-4em);
  }
}

