@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tw-animate-css';

@font-face {
  font-family: 'clashdisplay';
  src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'clashdisplayregular';
  src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


:root {
  font-family: 'clashdisplayregular', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.theme-light {
  --brand-primary: rgb(47, 112, 193);
  --brand-secondary: rgb(116, 97, 195);
  --brand-alternative: rgb(19, 120, 134);
  --background-site: rgb(249, 249, 249);
  --background-code: rgb(244, 244, 244);
  --text-body: #fe9346;
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}
.theme-dark {
  --brand-primary: rgb(138, 180, 248);
  --brand-secondary: rgb(193, 168, 226);
  --brand-alternative: rgb(136, 186, 191);
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
  --text-body: #fe9346;
  --text-comment: rgb(170, 170, 170);
  --text-high-contrast: rgb(230, 230, 230);
  --text-medium-contrast: rgb(202, 202, 202);
  --text-low-contrast: rgb(170, 170, 170);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --admonition-note: rgb(138, 180, 248);
  --admonition-warning: rgb(253, 186, 116);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 138, 180, 248;
  --brand-secondary-rgb-value: 193, 168, 226;
  --brand-alternative-rgb-value: 136, 186, 191;
  --background-site-rgb-value: 0, 0, 0;
  --background-code-rgb-value: 12, 12, 12;
  --text-body-rgb-value: 222, 222, 222;
  --text-comment-rgb-value: 170, 170, 170;
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-medium-contrast-rgb-value: 202, 202, 202;
  --text-low-contrast-rgb-value: 170, 170, 170;
  --detail-high-contrast-rgb-value: 101, 101, 101;
  --detail-medium-contrast-rgb-value: 25, 25, 25;
  --detail-low-contrast-rgb-value: 21, 21, 21;
  --admonition-note-rgb-value: 138, 180, 248;
  --admonition-warning-rgb-value: 253, 186, 116;
  --admonition-danger-rgb-value: 220, 38, 38;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.Outdoor {
  min-width: 320px;
  min-height: 95vh;
  background-image: url('/hideoutImage.jpg');
  /* background-image: url("../brown-wooden-textured-flooring-background (3).png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  gap: 0.1rem; /* spacing between slides */
  padding-left: 0rem; /* so first slide has some breathing room */
}

.embla__slide {
  position: relative;
  flex: 0 0 80%; /* smaller than 100% so next slide peeks */
  min-width: 0;
  overflow: hidden;
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: flex;
  /* grid-template-columns: auto 1fr; */
  justify-content: space-between;
  gap: 4rem;
  margin-top: 1.8rem;
  /* display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem; */
}
.embla__button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2.5rem; /* smaller default (mobile) */
  height: 2.5rem;
  border-radius: 50%;
  color: var(--text-body);
  align-items: center;
  justify-content: center;
  outline: none; /* remove default outline */
}

.embla__button:focus {
  outline: none; /* no focus ring */
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast); /* keep consistent */
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 40%; /* shrink arrow inside */
  height: 40%;
}

/* Larger size for tablets & desktops */
@media (min-width: 768px) {
  .embla__button {
    width: 1rem;
    height: 1rem;
  }
}

@media (min-width: 1024px) {
  .embla__button {
    width: 2.6rem;
    height: 2.6rem;
  }
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2rem - 1rem) / 2 * -1); /* adjusted for smaller mobile dots */
}

.embla__dot {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  width: 1rem; /* mobile default */
  height: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
}

.embla__dot:focus {
  outline: none;
  box-shadow: none; /* no focus ring */
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1rem; /* mobile inner dot */
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

/* Tablet */
@media (min-width: 768px) {
  .embla__dot {
    width: 1rem;
    height: 1rem;
  }

  .embla__dot:after {
    width: 1rem;
    height: 1rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .embla__dot {
    width: 1.5rem;
    height: 1.5rem;
  }

  .embla__dot:after {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.Hideout {
  min-width: 320px;
  min-height: 95vh;
  background-image: url('/hideoutNewBackground.jpeg');
  /* background-image: url("../brown-wooden-textured-flooring-background (3).png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.landing {
  min-width: 320px;
  height: 100vh; /* Full viewport height */
  background-image: url('/Landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-family: 'clashdisplay';
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  /* width: 50%; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  /* width: 50%; */
}

.logo {
  width: 185px;
  height: 102px;
  flex-shrink: 0;
}
/* .content {
  background-image: url("../tomatoes-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  /* width: 50%; */
}
h1 {
  line-height: 1.1;
}

p {
  line-height: 1.1;
}
.ultags {
  animation: ribbonAnimation 1s;
}

.menufont {
  font-family: 'clashdisplayregular';
}
.reverseUltags {
  animation: reverseanimation 1s;
}

p {
  color: #fff;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menuList {
  color: #fff;
  display: flex;
  z-index: 999;
  font-size: bold;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: 'clashdisplayregular';
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuListActive {
  color: white;
  display: flex;
  font-weight: bold;
  border-radius: 8px;
  background-color: #1a1a1a;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'clashdisplayregular';
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropContainer {
  /* border: 1px solid #dee2e6; */
  padding: 1.5rem 1rem;
  border-radius: 0.375rem;
  transition: transform 2s ease;
}
.colorChange {
  /* border: 1px solid #fe9346; */
  /* background: #000; */
  /* backdrop-filter: blur(20px); */
  padding: 1.5rem 1rem;
  border-radius: 0.375rem;
  transition: transform 2s ease;
  color: #fe9346;
}

.italics {
  font-style: italic;
}
.dropdown-header {
  /* background-color: rgba(0, 0, 0, 0.7); */
  background: transparent;
  font-family: 'clashdisplay';
}
.inquiryQuestion {
  font-family: 'clashdisplay';
}

.footerElement {
  font-family: 'clashdisplayregular';
  font-size: 15px;
  position: initial;
  bottom: 0;
}

.ulcontainer {
  /* border: 1px solid #dee2e6; */
  /* padding: 1.5rem 1rem;
  margin-left: 1rem; */
  transition: transform 2s ease;
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  /* border: 2px solid rgba(255, 255, 255, 0.3); */
  opacity: 0.9;
  /* background: #000; */
  /* backdrop-filter: blur(20px); */
}
.optionsBackgroundStyles {
  border-radius: 8px;
  background-color: #0a0a0a;
  height: 56px;
}

.open {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.9s;
}

.notopened {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition:
    all 0.3s ease-in-out 0s,
    visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}
.rotated {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  transition: transform 0.5s ease;
  color: #fac39c;
}

.notRotated {
  width: 20px;
  height: 20px;
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes ribbonAnimation {
  0% {
    transform: translateY(-2em);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes reverseanimation {
  0% {
    transform: translateY(0em);
  }
  100% {
    transform: translateY(-4em);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  min-width: 100vw;
  flex-direction: column;
}

.logoimage {
  width: 300px;
  height: 300px;
  position: relative;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

.loading-circle {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .logoimage {
    width: 150px;
    height: 150px;
  }
}
